<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
    <section name="coffee" type="dotless.Core.configuration.CoffeeConfigurationSectionHandler,dotless.Core" />
  </configSections>

  <dotless minifyCss="true" cache="true" />
  <coffee minifyCss="true" cache="false" jsCommpilerPath="" coffeeScriptSrcPath="" compilePattern="" />

  <system.web>
    <httpHandlers>
      <add verb="*" path="*.less" validate="false" type="dotless.Core.LessCssHttpHandler" />
      <add verb="*" path="*.coffee" validate="false" type="dotless.Core.CoffeeScriptHttpHandler" />
    </httpHandlers>
  </system.web>
</configuration>
